.imageSlider {
  width: 100%;
  height: 105vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #000;
  background-size: gray;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease;
}
.imageSlider::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.imageSlider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sliderImage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  font-weight: 100;
  font-family: "Times New Roman", Times, serif;
  text-align: center;

  transition: opacity 0.5s ease-in-out;
}
.ButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  position: absolute;
  bottom: -90%;
  left: 50%;
  transform: translateX(-50%);
}
.button {
  padding: 10px 20px;
  background-color: #00000000;
  color: white;
  border: 1px solid white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.4s ease;
}
.button:hover {
  color: black;
}
.prevButton {
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  padding: 10px 20px;
  background-color: #00000000;
  color: white;
  border: 1px solid white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.4s ease;
}
.prevButton:hover {
  color: black;
}
.nextButton {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  padding: 10px 20px;
  background-color: #00000000;
  color: white;
  border: 1px solid white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.4s ease;
}
.fadeIn {
  animation: fadeIn 0.2s ease-in-out;
  opacity: 1;
}

.fadeOut {
  animation: fadeOut 0.2s ease-in-out;

  opacity: 1;
  filter: blur(5px);
}
.textOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(190, 185, 185, 0.5), rgba(75, 45, 45, 0.3));

  border-radius: 20px;
  width: 40%;
  height: 40%;
  position: absolute;
  left: 80%;
  transform: translateX(-50%);
  color: white;
  font-size: 24px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  z-index: 2;
  opacity: 1;
  transition: color 0.4s ease;
}
.fadeOut + .textOverlay {
  opacity: 0;
}
.fadeIn + .textOverlay {
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .ButtonContainer {
    gap: 10px;
  }

  .button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
