.imageSliderContainer {
  position: relative;

  height: 100vh;
}

.mainImageWrapper {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.sliderImage {
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 90px;
  object-fit: cover;
  height: 100vh;
}

.fadeOut {
  opacity: 0;
}

.fadeIn {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  display: none;
}

.thumbnailSlider {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 10px;
  bottom: 120px;
  left: 30%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.thumbnail {
  width: 150px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 5px;
}

.thumbnail:hover {
  transform: scale(1.1);
}

.activeThumbnail {
  border: 1px solid #fff;
  transform: scale(1.1);
}

.ButtonContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.prevButton {
  margin-right: auto;
}

.nextButton {
  margin-left: auto;
}

@media (max-width: 1200px) {
  .thumbnailSlider {
    bottom: 100px;
    left: 20%;
    padding: 10px;
  }

  .thumbnail {
    width: 150px;
  }
  .fadeIn {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    display: none;
  }
}

@media (max-width: 768px) {
  .thumbnailSlider {
    bottom: 100px;
    left: 15%;
    padding: 10px;
  }

  .thumbnail {
    width: 100px;
  }
  .fadeIn {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    display: none;
  }
}
@media (max-width: 500px) {
  .thumbnailSlider {
    bottom: 100px;
    left: 7%;
    padding: 10px;
  }

  .thumbnail {
    width: 70px;
  }
  .fadeIn {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    display: none;
  }
}
