.Body {
  scroll-behavior: smooth;
  height: 100vh;
  width: 100%;
  color: rgb(255, 255, 255);
  font-weight: 100;
  font-variant: small-caps;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 38px;
  background-image: url(../../Pictures/124715-1920x1200-desktop-hd-spain-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body::-webkit-scrollbar {
  display: none;
}
.MyHomeMarbella {
  margin-top: -40px;
  font-weight: 100;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.lineBreak {
  margin-top: -20px;
  border-top: 1px solid white;
  width: 50%;
}

.ButtonContainer {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}
.LoginButton {
  margin-right: 5px;
  padding: 8px 16px;
  color: white;
  background: none;
  border: 2px solid transparent;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  transition: color 0.4s ease, transform 0.4s ease, box-shadow 0.4s ease;
}

.LoginButton:hover {
  color: white;
  transform: scale(1);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.LoginButton:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #ffffff26;
  transition: all 0.5s ease;
  border-radius: 5px;
}

.LoginButton:hover:before {
  left: 0;
}

.blue {
  color: #4285f4;
}

.red {
  color: #ea4335;
}

.yellow {
  color: #fbbc05;
}

.green {
  color: #34a853;
}

.logoutButton {
  padding: 10px;
  background-color: none;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  cursor: pointer;
  transition: color 0.4s ease;
  margin-left: 30%;
}
.logoutButton:hover {
  color: black;
}
@media (max-width: 768px) {
  .ButtonContainer {
    flex-direction: column;
    gap: 20px;
  }
  .logoutButton {
    margin-left: 0;
  }
  .MyHomeMarbella {
    font-size: 40px;
  }
  .lineBreak {
    margin-top: 10px;
    border-top: 1px solid white;
    width: 50%;
  }
}
